.App {
  text-align: center;
  background-color: blueviolet;
  display: flex;
  height: 100vh;
}

.timer-container {
  width: 100%;
  background-color: #e2e8f0; /* gray-300 */
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.timer-bar {
  height: 100%;
  background-color: #3b82f6; /* blue-500 */
  transition: width 1s linear;
}